<div class="inner cover">
  <h1 class="cover-heading">Hello There</h1>
  <p class="lead">This is my first project for the public, this has taken months to make
  and I hope that it is something worth being proud of.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary"%>
  </p>
</div>
